/* rsetear margenes pa que no se vea mal */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #F4C95D;
  position: fixed; /* para que te fijo siempre */
  width: 100%;
}

.nombre a {
  text-decoration: none;
  color: black;

}


.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between; /* para que haya espacio entre los dos elementos*/
  padding: 10px 20px;
}

.boton {
 border: none;
 border-radius: 10px;
 padding: 10px;
 background-color: #DD7230;

}



.menu {
  list-style: none;
  display: none;
}


.menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px;
}

.menu a:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
}


#boton-uno{
  padding: 0;
  background-color: transparent;
  border: none;

}

#boton-dos{
  padding: 0;
  background-color: transparent;
  border: none;

}

#boton-tres{
  padding: 0;
  background-color: transparent;
  border: none;

}


.menu.show { /* clase que sirve para mostrar los elementos */
  display: flex;
  font-size: 11px;
}

.boton.show {
  margin-left: 30px;
}




#galeria{
  padding: 80px 20px;
  text-align: center;
  background-color: #DD7230;
}



#arriba{
  width: 300px;
  height: 200px;
  border: 5px solid;
  border-color: black;
}

#arriba:hover{
  width: 300px;
  height: 200px;
  border: 5px solid;
  border-color: black;
}

#pequena-uno{
  width: 300px;
  height: 150px;
}

#pequena-dos{
  width: 300px;
  height: 150px;
}

#pequena-tres{
  width: 300px;
  height: 150px;
}



#entradas {
  text-align: center;
  background-color: #601700;
  padding: 80px 20px;
}

.caja{
  background-color: #F4C95D;
  border: 2px solid black;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  padding: 10px;
  margin: 0 auto; /* centra la caja en medio porque coko tiene un ancho determinado*/
}

#text-entrada{
  font-weight: bold;

}

#total {
  font-weight: bold;
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  background-color: #253031;
  color: white;
}

#parrafo-total{
  font-weight: bold;
}

input{
  border-radius: 10px;
}

#contacto{
  text-align: center;
  padding: 80px 20px;
  background-image: url(fts/background.jpg);
  background-size: contain;

}

.titulo{
  text-shadow: 3px 3px back;
}


.foot{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4C95D;
  flex-direction: column;
}

.foot-der ul {
  list-style-type: none;
}


.foot-der a {
  text-decoration: none;
  color: black;
}

.foot-der a:hover {
  text-decoration: none;
  color: white;
}


